[Unit]
Description=Lodestar Beacon Chain Log Monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/logmonitor.sh -s "lodestarbeacon" -f "/usr/local/etc/lodestar_tracking_records.txt" -t 600 -x "/usr/local/bin/logmonitor_executor.sh" -c 80 -d 300 -p 900
Restart=on-failure
User=lodestarbeacon
Group=lodestarbeacon

[Install]
WantedBy=multi-user.target