[Unit]
Description=Lodestar Beacon Chain Log Monitor
After=network.target

[Service]
User=lodestarbeacon
Group=lodestarbeacon
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/logmonitor.sh \
    --service_name "lodestarbeacon" \
    --executor_shell "/usr/local/bin/logmonitor_executor.sh" \
    --log_maxwaitingtime 300 \
    --targets_file "/usr/local/etc/lodestarbeacon_tracking_records.txt" \
    --executor_trigger_periode 360 \
    --executor_trigger_pause 1200 \
    --peers_tracking 1 \
    --peers_mincount 20

[Install]
WantedBy=multi-user.target