[Unit]
Description=Lodestar Validator Log Monitor
After=network.target

[Service]
Type=simple
User=lodestarvalidator
Group=lodestarvalidator
Restart=on-failure
ExecStart=/usr/local/bin/logmonitor.sh \
    --service_name "lodestarvalidator" \
    --targets_file "/usr/local/etc/lodestarvalidator_tracking_records.txt" \
    --log_maxwaitingtime 600 \
    --executor_shell "/usr/local/bin/logmonitor_executor_lodestarvalidator.sh" \
    --executor_trigger_periode 300 \
    --executor_trigger_pause 900 \
    --service_data "/var/lib/lodestar/validators/i1"

[Install]
WantedBy=multi-user.target