[Unit]
Description=Validator State Checker service
After=network.target

[Service]
User=stakersspace
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/node /srv/validators-monitor/validators_state_checker.js \
    --beaconChain.port 9596 \
    --epochsoffline_trigger 4 \
    --pubkeys ./public_keys_testlist.json \
    --pubkeys_dynamic false

[Install]
WantedBy=multi-user.target