[Unit]
Description=Validator State Checker service
After=network.target

[Service]
User=nobody
Type=simple
ExecStart=/usr/bin/node /srv/validators-monitor/validators_state_checker.js \
    --port 9596 \
    --epochsoffline_trigger 4 \
    --pubkeys ./public_keys_testlist.json
Restart=on-failure

[Install]
WantedBy=multi-user.target