[Unit]
Description=Nethermind Log Monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/logmonitor.sh -s "nethermind" -f "/usr/local/etc/nethermind_tracking_records.txt" -t 600 -x "/usr/local/bin/logmonitor_executor_nethermind.sh" -c 240 -d 240 -p 1800
Restart=on-failure
User=nethermind
Group=nethermind

[Install]
WantedBy=multi-user.target