[Unit]
Description=Restart Erigon Service daily to prevent stucking

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart erigon.service

[Install]
WantedBy=multi-user.target