[Unit]
Description=Teku Beacon Chain Log Monitor
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/logmonitor.sh -s "tekubeacon" -x "/usr/local/bin/logmonitor_executor.sh" -t 300 -f "/usr/local/etc/teku_tracking_records.txt" -d 360 -p 1200
Restart=on-failure
User=tekubeacon
Group=tekubeacon

[Install]
WantedBy=multi-user.target