[Unit]
Description=Teku Beacon Chain Log Monitor
After=network.target

[Service]
User=tekubeacon
Group=tekubeacon
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/logmonitor.sh \
    --service_name "tekubeacon" \
    --executor_shell "/usr/local/bin/logmonitor_executor_tekubeacon.sh" \
    --log_maxwaitingtime 300 \
    --targets_file "/usr/local/etc/tekubeacon_tracking_records.txt" \
    --executor_trigger_periode 360 \
    --executor_trigger_pause 1200

[Install]
WantedBy=multi-user.target