[Unit]
Description=Timer to regularly check time synchronization

[Timer]
# Run it in 30 minutes interval
# OnCalendar=*:0/30
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target